<html>
	<head>
		<script src="vendor/jquery-3.2.1.min.js"></script>
		<script src="js/comun.js"></script>
		<script src="js/adm_estadios.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="menu-div"></div>
			
			<div class="content">
				<div class="estadios">
					<table class="tabla-estadios">
					</table>
					<button class="crear-estadio">Crear Estadio</button>
				</div>
				
				<div class="form-editar-estadio">
					<div class="errores"></div>
					<div class="datos-principales">
						<input type="hidden" class="estadio_id dato-estadio" value="">
						<input type="text" class="estadio_nombre dato-estadio" placeholder="Nombre" value="">
						<input type="text" class="estadio_ciudad dato-estadio" placeholder="Ciudad" value="">
						<select class="estadio_equipo dato-estadio"></select>
					</div>
					<button class="guardar-estadio">Guardar</button>
				</div>
			</div>
			
			<div class="footer-div"></div>
		</div>
	</body>
</html>