<html>
	<head>
		<script src="vendor/jquery-3.2.1.min.js"></script>
		<script src="vendor/moment-2.18.1.min.js"></script>
		<script src="js/comun.js"></script>
		<script src="js/adm_jornadas.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="menu-div">
			</div>
			
			<div class="content">
				<div class="competiciones">
					<select class="competicion">
						<option value="">(Seleccione una)</option>
					</select>				
				</div>
				<div class="jornadas">
					<table class="tabla-jornadas">
					</table>
					<button class="crear-jornada">Crear</button>
				</div>
				
				<div class="form-editar-jornada">
					<input type="hidden" class="jorn_id dato-jornada" value="">
					<input type="datetime-local" class="jorn_fecha_inicio dato-jornada" placeholder="Fecha de inicio" value="">
					<input type="datetime-local" class="jorn_fecha_fin dato-jornada" placeholder="Fecha de fin" value="">
					<input type="text" class="jorn_numero dato-jornada" placeholder="Número jornada" value="">
					<input type="text" class="jorn_nombre dato-jornada" placeholder="Nombre" value="">
					<input type="text" class="jorn_nombre_corto dato-jornada" placeholder="Nombre corto" value="">
					<select class="jorn_tipo_jornada dato-jornada"></select>	
					<button class="guardar-jornada">Guardar jornada</button>

					<div class="datos-partidos">
						<h2>PARTIDOS</h2>
						<table class="tabla-partidos">
						</table>
						<button class="crear-partido">Crear Partido</button>
					</div>

					<div class="form-editar-partido">
						<select class="part_equipo part_equipo_1 dato-partido"></select>				
						<select class="part_equipo part_equipo_2 dato-partido"></select>
						<select class="part_estadio dato-partido"></select>
						<input type="text" class="part_fecha_hora dato-partido" placeholder="Fecha y hora partido" value="">
						<button class="guardar-partido">Guardar partido</button>
					</div>

				</div>
			</div>
		</div>
	</body>
</html>