<!DOCTYPE html>
<html lang="es">
<head>
	<title>La Web de la Porra</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="La Web de la Porra" />
	<meta name="author" content="Carlos Toquero (developer) & Alberto Lario (designer)" />
	<!-- css -->
 	<link rel="stylesheet" href="css/bootstrap.min.css" />
 	<link rel="stylesheet" href="css/style.css" />
 	<!-- js -->
	<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="vendor/moment-2.18.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/comun.js"></script>
	<script type="text/javascript" src="js/mockup.js"></script>
	<script type="text/javascript" src="js/adm_jornadas.js"></script>
 	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements & HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
		<div class="main-container">
			<div class="menu-div">
			</div>
			
			<div class="content">
				<div class="competiciones">
					<select class="competicion">
						<option value="">(Seleccione una)</option>
					</select>				
				</div>
				<div class="jornadas">
					<table class="tabla-jornadas">
					</table>
					<button class="crear-jornada">Crear</button>
				</div>
				
				<div class="form-editar-jornada">
					<div class="errores"></div>
					<div class="datos-principales">
						<input type="hidden" class="jorn_id dato-jornada" value="">
						<input type="datetime-local" class="jorn_fecha_inicio dato-jornada" placeholder="Fecha de inicio" value="">
						<input type="datetime-local" class="jorn_fecha_fin dato-jornada" placeholder="Fecha de fin" value="">
						<input type="text" class="jorn_numero dato-jornada" placeholder="Número jornada" value="">
						<input type="text" class="jorn_nombre dato-jornada" placeholder="Nombre" value="">
						<input type="text" class="jorn_nombre_corto dato-jornada" placeholder="Nombre corto" value="">
						<select class="jorn_tipo_jornada dato-jornada"></select>	
					</div>
					<button class="guardar-jornada">Guardar jornada</button>
					<div class="datos-partidos">
						<h2>PARTIDOS</h2>
						<table class="tabla-partidos">
						</table>
						<button class="crear-partido">Crear Partido</button>
					</div>

					<div class="form-editar-partido">
						<input type="hidden" class="part_id dato-partido" value=""></input>
						<select class="part_equipo part_equipo_1 dato-partido"></select>				
						<select class="part_equipo part_equipo_2 dato-partido"></select>
						<select class="part_estadio dato-partido"></select>
						<select class="part_grupo dato-partido"></select>
						<input type="datetime-local" class="part_fecha_hora dato-partido" placeholder="Fecha y hora partido" value="">
						<input type="hidden" class="part_jornada dato-partido" value=""></input>
						<button class="guardar-partido">Guardar partido</button>
					</div>

				</div>
			</div>
		</div>
	<!-- footer -->	
	<footer class="footer-div">
	</footer>
</body>
</html>