<!DOCTYPE html>
<html lang="es">
<head>
	<title>La Web de la Porra</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="La Web de la Porra" />
	<meta name="author" content="Carlos Toquero (developer) & Alberto Lario (designer)" />
	<!-- css -->
 	<link rel="stylesheet" href="css/bootstrap.min.css" />
 	<link rel="stylesheet" href="css/style.css" />
 	<!-- js -->
	<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="vendor/moment-2.18.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/comun.js"></script>
	<script type="text/javascript" src="js/mockup.js"></script>
	<script type="text/javascript" src="js/adm_competiciones.js"></script>
 	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements & HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="main-container">
		<header>
        	<div class="navbar navbar-default navbar-static-top">
            	<div class="container">
            
            		<!-- start LOGO -->
                	<div class="navbar-header">
                   		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                        	<span class="icon-bar"></span>
                   		</button>
						<a class="navbar-brand" href="inicio.html">La Porra de <img src="img/la-liga.svg" class="logo"></a>
                	</div>
                	<!-- end LOGO -->
                
                	<!-- start NAVBAR -->
                	<div class="navbar-collapse collapse">
                		<div class="menu-div">
						</div>
                	</div>
                	<!-- end NAVBAR -->
           		</div>
        	</div>
		</header>
	</div>
	
	
		<div class="main-container">
			<div class="content">
				
				<div class="competiciones">
					<table class="tabla-competiciones">
					</table>
					<button class="crear-competicion">Crear Competicion</button>
				</div>
				
				<div class="form-editar-competicion">
					<div class="errores"></div>
					<div class="datos-principales">
						<input type="hidden" class="comp_id dato-competicion" value="">
						<input type="text" class="comp_nombre dato-competicion" placeholder="Nombre" value="">
						<input type="text" class="comp_siglas dato-competicion" placeholder="Abreviatura" value="">
						<input type="text" class="comp_titulo dato-competicion" placeholder="Título" value="">
						<input type="text" class="comp_subtitulo dato-competicion" placeholder="Subtítulo" value="">
						<textarea class="comp_reglas dato-competicion" placeholder="Reglas" rows="7"></textarea>
						<input type="datetime-local" class="comp_inicio dato-competicion" placeholder="Fecha inicio" value="">
						<input type="datetime-local" class="comp_fin dato-competicion" placeholder="Fecha fin" value="">
						<select class="comp_tipo_competicion dato-competicion"></select>				
					</div>
					<button class="guardar-competicion">Guardar</button>
					<div class="datos-grupos">
						<h2>GRUPOS</h2>
						<table class="tabla-grupos">
						</table>
						<button class="crear-grupo">Crear Grupo</button>
					</div>
					<div class="form-editar-grupo">
						<input type="hidden" class="grupo_id dato-grupo" value="">
						<input type="text" class="grupo_nombre dato-grupo" placeholder="Nombre" value="">
						<input type="hidden" class="grupo_competicion dato-grupo" value="">
						<button class="guardar-grupo">Guardar grupo</button>
					</div>
				</div>
			</div>
		</div>
	<!-- footer -->	
	<footer class="footer-div">
	</footer>
</body>
</html>