<html>
	<head>
		<script src="vendor/jquery-3.2.1.min.js"></script>
		<script src="js/comun.js"></script>
		<script src="js/adm_partidos.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="menu">
			</div>
			
			<div class="content">
				<div class="competiciones">
					<select class="competicion">
						<option value="">(Seleccione una)</option>
					</select>				
				</div>
				
				<div class="jornadas">
				</div>
				
				<div class="partidos">
					<table class="tabla-partidos">
					</table>
					<button class="crear">Guardar</button>
				</div>
			</div>
		</div>
	</body>
</html>