<!DOCTYPE html>
<html lang="es">
<head>
	<title>La Web de la Porra</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="La Web de la Porra" />
	<meta name="author" content="Carlos Toquero (developer) & Alberto Lario (designer)" />
	<!-- css -->
 	<link rel="stylesheet" href="css/bootstrap.min.css" />
 	<link rel="stylesheet" href="css/style.css" />
 	<!-- js -->
	<script type="text/javascript" src="vendor/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/comun.js"></script>
	<script type="text/javascript" src="js/mockup.js"></script>
	<script type="text/javascript" src="js/adm_estadios.js"></script>
 	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements & HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
		<div class="main-container">
			<div class="menu-div"></div>
			
			<div class="content">
				<div class="estadios">
					<table class="tabla-estadios">
					</table>
					<button class="crear-estadio">Crear Estadio</button>
				</div>
				
				<div class="form-editar-estadio">
					<div class="errores"></div>
					<div class="datos-principales">
						<input type="hidden" class="estadio_id dato-estadio" value="">
						<input type="text" class="estadio_nombre dato-estadio" placeholder="Nombre" value="">
						<input type="text" class="estadio_ciudad dato-estadio" placeholder="Ciudad" value="">
						<select class="estadio_equipo dato-estadio"></select>
					</div>
					<button class="guardar-estadio">Guardar</button>
				</div>
			</div>
			
			<div class="footer-div"></div>
		</div>
	<!-- footer -->	
	<footer class="footer-div">
	</footer>
</body>
</html>