<html>
	<head>
		<script src="vendor/jquery-3.2.1.min.js"></script>
		<script src="js/comun.js"></script>
		<script src="js/mockup.js"></script>
		<script src="js/comp_cambiar.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="menu-div">
				<ul>
					<li><a href="./gest_editar.html">Editar perfil</a></li>
					<li><a href="./comp_cambiar.html">Cambiar competicion</a></li>
					<li><a href="./logout.html">Salir</a></li>
				</ul>
			</div>
			
			<div class="content">
				<div class="competiciones">
				</div>
			</div>
		</div>
	</body>
</html>