<html>
	<head>
		<script src="vendor/jquery-3.2.1.min.js"></script>
		<script src="js/comun.js"></script>
		<script src="js/cont_competiciones.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="menu">
			</div>
			
			<div class="content">
				
				<div class="competiciones">
					<table class="tabla-competiciones">
					</table>
					<button class="crear">Crear</button>
				</div>
				
				<div class="form-editar">
					<input type="hidden" class="comp_id dato" value="">
					<input type="text" class="comp_nombre dato" placeholder="Nombre" value="">
					<input type="text" class="comp_siglas dato" placeholder="Abreviatura" value="">
					<input type="text" class="comp_titulo dato" placeholder="Título" value="">
					<input type="text" class="comp_subtitulo dato" placeholder="Subtítulo" value="">
					<textarea class="comp_reglas dato" placeholder="Reglas" rows="7"></textarea>
					<select class="comp_tipo_competicion dato"></select>				
					<button class="crear">Guardar</button>
				</div>
			</div>
		</div>
	</body>
</html>