<html>
	<head>
		<script src="vendor/jquery-3.2.1.min.js"></script>
		<script src="js/comun.js"></script>
		<script src="js/gest_editar.js"></script>
	</head>
	<body>
		<div class="main-container">
			<div class="menu-div">
			</div>
			
			<div class="content">
				<div class="form">
					<input type="hidden" class="datos-usuario usr-id" name="id">
					<input type="text" placeholder="Login" class="datos-usuario usr-login" name="login" disabled>
					<input type="text" placeholder="Nombre" class="datos-usuario usr-name" name="name">
					<input type="text" placeholder="Apellidos" class="datos-usuario usr-surname" name="surname">
					<input type="text" placeholder="Email" class="datos-usuario usr-email" name="email">
					<textarea rows="3" placeholder="Comentarios" class="datos-usuario usr-comments" name="comments"> </textarea>
					<input type="password" placeholder="Nuevo password" class="datos-usuario new-pwd" name="newPass">
					<input type="password" placeholder="Confirmar password" class="datos-usuario conf-pwd" name="confPass">
					<input type="submit" value="Guardar" >			
				</div>
			</div>
		</div>
	</body>
</html>